<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bell Register Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/iofrm-theme5.css">
    
</head>
<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <h1>Bell</h1>
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="/static/images/graphic2.svg" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Get more things done with Loggin platform.</h3>
                        <p>Access to the most powerfull tool in the entire design and web industry.</p>
                        <div class="page-links">
                            <a href="/login">Login</a><a href="/register" class="active">Register</a>
                        </div>
                        
                            <input class="form-control" type="text" autocomplete="off" name="username" placeholder="Username" id="username" required>
                            <input class="form-control" type="password" name="password" placeholder="Password" id="password" required>
                            <input class="form-control" type="password" name="password2" placeholder="Password" id="password_confirm" required>
                            <div class="form-button">
                                <button id="submit" type="button" class="ibtn" onclick="openPopup()">Register</button>
                            </div>

                            <div class="popup" id="popup">
                                <h3>Would you like to save your password on FaceIt</h3>
                                <button type="button" onclick="yes()">Yes</button>
                                <button type="button" onclick="no()">No</button>
                            </div>
                            
                        <div class="other-links">
                            <span>Or register with</span><a href="#">Facebook</a><a href="#">Google</a><a href="#">Linkedin</a>
                        </div>

                        <div class="popup" id="popup2">
                            <h3>Checking Face</h3>
                            <img src="/static/images/loading.gif" width="50%"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    let popup = document.getElementById("popup");
    let popup2 = document.getElementById("popup2");

    function openPopup(){
            popup.classList.add("open-popup");
        }
    function no(){
        window.location.href = "/login";
    }
    function yes(){
        popup.classList.remove("open-popup");
        popup2.classList.add("open-popup");

        let username = document.getElementById("username");
        let password = document.getElementById("password");
        let password_confirm = document.getElementById("password_confirm");

        fetch("/scan_face", {
            method: "POST",
            body: new URLSearchParams({ "username": username.value, "password": password.value, "password_confirm": password_confirm.value, "check": "yes"}), // Send username as part of the POST request body
            headers: {
                "Content-Type": "application/x-www-form-urlencoded" // Set the appropriate content type
            }
        }).then(response => response.json())
            .then(data => {
                var message = data.message

                if (message == "no_username") {
                    alert("Username already used")
                    popup2.classList.remove("open-popup");
                } else if (message == "no_faceid") {
                    alert("Not a valid face")
                    popup2.classList.remove("open-popup");
                } else if (message == "username_used") {
                    alert("Username is taken")
                    popup2.classList.remove("open-popup");
                } else {
                    window.location.href = "/login";

                }
            })
    }
</script>

<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>